:root {
    /* COLORS */
    --clr-purple-400: #9e45c1;
    --clr-orange-400: #db962d;
    --clr-green-400: #29bb66;
    --clr-green-500: #2c9759;
}

html,
body {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom right,
            var(--clr-orange-400),
            var(--clr-purple-400));

    display: grid;
    align-items: center;
    justify-items: center;

    /* Font stack source: https://modernfontstacks.com/ */
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    color: white;
}

.game-screen {
    display: grid;
    grid-template-rows: auto min-content;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        'resistor additions'
        'input additions'
    ;
    gap: 1rem;

    justify-items: center;
    align-items: center;

    width: min(65rem, 90%);
    min-height: 20rem;

    background-color: #0002;

    outline: .25rem solid #3337;
    border-top: .25rem solid #fff6;

    border-radius: .5rem;

    padding: 1rem;
}

.game-input {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 1rem;
    align-items: center;

    grid-area: input;

    align-self: center;
}

.game-additions {
    display: grid;
    grid-template-columns: auto min-content;
    gap: .5rem;

    justify-self: end;

    grid-area: additions;

    border-left: .25rem solid #3335;

    padding: 1rem;
}

.game-additions__label {
    text-transform: uppercase;

    font-weight: bold;
    font-size: 1.5rem;

    grid-column: 1 / -1;
}

.game-additions__entry {
    display: grid;
    grid-template-columns: subgrid;

    padding: .25rem;

    cursor: pointer;

    grid-column: 1 / -1;
}

input,
button {
    border: none;
}

button {
    cursor: pointer;

    border-radius: .5rem;
    background-color: var(--clr-green-400);

    color: white;
    font-size: 1.25rem;
    font-weight: bold;

    border: .25rem solid var(--clr-green-500);

    /* padding: .25rem 1rem; */
}

button:focus-visible {
    outline: .25rem solid var(--clr-green-400);
}

input[type="text"],
input[type="number"] {
    background-color: #0003;

    border-radius: .5rem;
    outline: .25rem solid #fff6;

    padding: .5rem;

    height: 2rem;

    color: white;
}

input[type="text"]:focus-visible,
input[type="number"]:focus-visible {
    outline-color: white;
}

.input--hidden {
    display: none;
}

.checkbox {
    width: 1.5rem;
    height: 1.5rem;

    border-radius: 50%;

    background-color: #0006;

    outline: .05rem solid #000;

    display: grid;
    place-items: center;

    position: relative;
}

.checkbox::after {
    content: '';
    position: absolute;

    width: 60%;
    height: 60%;

    background-color: transparent;

    clip-path: polygon(41% 74%, 76% 0, 100% 14%, 57% 100%, 25% 100%, 0% 60%, 22% 45%);

    transition: background-color .25s;
}

.checkbox:has(input:checked)::after {
    background-color: white;
}

/* @media screen and (max-width: 1120px) {
    .game-screen {
        grid-template-rows: auto min-content min-content;
        grid-template-columns: 1fr;
        grid-template-areas:
            'resistor'
            'input'
            'additions'
        ;
    }

    .game-additions {
        justify-self: start;
    }
} */