*{
    box-sizing: border-box;

    font-family: monospace;
}

html, 
body{
    height: 100%;
}

body{
    display: grid;
    grid-template-rows: 3rem 12rem 3rem;
    justify-items: center;
    gap: 2rem;
}

.info{
    width: 15rem;

    color: white;
    font-size: 2rem;
    letter-spacing: .1rem;
    font-weight: bold;

    display: grid;
    place-content: center;

    opacity: 0;

    border-radius: .5rem;
}

.info--correct{
    background-color: #43945e;

    animation: showAndHide 2.5s;
}

.info--wrong{
    background-color: #944343;

    animation: showAndHide 2.5s;
}

@keyframes showAndHide{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    80%{
        opacity: 1; 
    }
    100%{
        opacity: 0;
    }
}